/* Base */

body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #020617;
    color: #e5e7eb;
}

/* Warning Line */
.ejs-warning {
    background: #fff3cd;
    border: 1px solid #ffecb5;
    color: #664d03;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

/* Header */
header {
    background: #020617;
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #1e293b;
}

header h1 {
    margin: 0;
}

header p {
    color: #94a3b8;
}

/* Layout */
.container {
    display: flex;
    height: calc(100vh - 90px);
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: #020617;
    border-right: 1px solid #1e293b;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h3 {
    margin-bottom: 15px;
    color: #38bdf8;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px 12px;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
    font-size: 14px;
}

.sidebar li:hover {
    background: #1e293b;
}

/* Content */
.content {
    flex: 1;
    padding: 25px;
    overflow-y: auto;
}

#fileName {
    margin-bottom: 15px;
    color: #38bdf8;
}

/* Code Box */
pre {
    background: #020617 !important;
    border-radius: 10px;
    padding: 20px;
    max-height: 80vh;
    overflow: auto;
    font-size: 14px;
}

code {
    font-family: "Fira Code", monospace;
}
